# Python
.venv*
__pycache__

# Configuration
keys
*.env

# Terraform
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfvars.json

# Vault
vault-init.json
vault-keys-backup.json
vault/init/
vault-backups/
*.unsealed

# Logs
*.log