DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres_managed_service
DB_DRIVER=postgresql+asyncpg
TELEGRAM_AUTH_ENABLED=False
TELEGRAM_BOT_TOKEN=
TELEGRAM_AUTH_DATA_EXPIRE=60
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=
TERRAFORM_DIR=./terraform
VM_SOURCE_DISK_PATH=D:\\VMS\\images\\UbuntuServerImage.vhdx
VAULT_TOKEN=
VAULT_ADDR=http://localhost:18200
# OPENTELEMETRY_COLLECTOR_HOST=localhost
# OPENTELEMETRY_COLLECTOR_PORT_HTTP=4318
# OPENTELEMETRY_COLLECTOR_PORT_GRPC=4317