DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres_managed_service
DB_DRIVER=postgresql+asyncpg
TELEGRAM_BOT_TOKEN=
TELEGRAM_AUTH_DATA_EXPIRE=60
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASSWORD=admin
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=
TERRAFORM_DIR=./terraform
